@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --browser-vertical-scrollbar-width-margin-error: 20px;
  --max-content-width: 100%;
  --default-container-padding: 2.5rem;
}

/* .l-page */
.l-page {
  display: grid;
  grid-template-areas:
    'header'
    'main  '
    'footer';
  grid-template-rows: max-content auto max-content;
  grid-template-columns: 100%;
}

/* .l-header */
.l-header {
  grid-area: header;
  padding: 2rem 0;
  background: var(--color-grey);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.226);
}

.l-header__content {
  padding: 0 var(--default-container-padding);
}

.l-header__title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* .l-main */
.l-main {
  grid-area: main;
  padding: 6rem var(--default-container-padding);
}

/* .l-footer */
.l-footer {
  padding: 2rem 0;
  grid-area: footer;
  background: #333541;
}

.l-footer__content {
  padding: 0 var(--default-container-padding);
}

/* .c-io-area */
.c-io {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.c-io__column {
  flex: 100%;
}

.c-io__upload {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.c-io__upload__label {
  flex: 100%;
  margin-bottom: 1rem;

  cursor: pointer;
}

.c-io__upload__button {
  padding: 0.7rem;

  border: 1px solid var(--color-grey);
  border-radius: 0.25rem;
  background: none;

  font-size: 1rem;

  cursor: pointer;
}

.c-io__upload__button::file-selector-button {
  margin: -0.7rem;
  margin-right: 1rem;
  padding: 0.7rem;
  color: inherit;
  border: none;
  background: var(--color-grey);

  cursor: pointer;
}

/* Others */
.button-flex {
  display: flex;
}

.button-margin-right {
  margin-right: 2rem;
}

.csv-instructions {
  flex: 100%;
  margin-bottom: 2rem;
}

/* Media Query */
@media (min-width: 768px) {
  :root {
    --max-content-width: calc(
      768px - var(--browser-vertical-scrollbar-width-margin-error)
    );
  }

  .l-page {
    grid-template-areas:
      'header header header'
      '.      main   .     '
      'footer footer footer';
    grid-template-columns: 1fr var(--max-content-width) 1fr;
  }

  .l-header,
  .l-footer {
    display: grid;
    grid-template-columns: var(--max-content-width);
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  :root {
    --max-content-width: calc(
      1024px - var(--browser-vertical-scrollbar-width-margin-error)
    );
  }

  .c-io__column {
    flex: 1;
  }
}

@media (min-width: 1200px) {
  :root {
    --max-content-width: calc(
      1200px - var(--browser-vertical-scrollbar-width-margin-error)
    );
  }
}
